<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utsu-P-Wiki Home Page</title>

	<link rel="stylesheet" href="/styles.css">
		<link rel="stylesheet" href="/full-glitch-effect-text.css">
	<link rel="stylesheet" href="/horizontal-glitch-effect-text.css">
</head>
<body>
	<h2>You are at: 
		<p th:text="*{currentPage}" th:remove="tag"></p>
	</h2>
	<!-- Principal Header, same for all pages -->
	<header class="fav-color hero-container">
		<h1 class="hero glitch layers" data-text="Utsu-P">Utsu-P</h1>
	</header>
</body>
</html>