a {
	text-decoration: none;
}

.fav-color{
	color: #6F18D3
}

.top-header{
  	border-width: 1px;
  	border-style: ridge;
  	border-color: #6F18D3;
}

.middle-title{
  	font-family: "Old English Text MT";
  	padding-left: 40%;
}

.utsu-p-icon{
	width: 5%; 
	height: 5%;
/*	border-width: 2px;
  	border-style: ridge;
  	border-color: #6F18D3;*/
  	margin-top:-4%;
  	margin-left: 1%;
}

.neon-text{
	text-shadow: 0 0 7px #fff,
	0 0 10px #fff,
	0 0 21px #fff,
	0 0 42px #0fa,
	0 0 82px #0fa,
	0 0 92px #0fa,
	0 0 102px #0fa,
	0 0 151px #0fa,
}

.no-decoration-a{
 text-decoration: none;
}