<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Utsu-P-Wiki Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only libs. JS at the end of the page -->

    <script type="text/javascript" src="/js/load-css.js"></script>

    <link rel="icon" type="image/x-icon" href="/Post-Traumatic-Stress-Disorder.jpg">

    <link rel="stylesheet" type="text/css" href="/css/albums.css">

</head>
<body>

    <div class="navigation">

        <!-- To know who the the user is -->
        <h2>You are:
            <span id="currentUser">Anonymous</span>
        </h2>

        <h2>You are at:
            <span id="locationsContainer">
                <span th:each="locations : ${location}" th:text="${locations}" onclick="navigate(this)"></span>
            </span> 
        </h2>
    </div>

    <!-- Principal Header, same for all pages -->
    <header id="headers"></header>
    <!-- Here the main content of the page starts -->

    <div class="main-content-container">
        <img th:src="@{${product_image}}" style="height: 30vw;"/>

        <div class="album-grid-container">
            <h1 class="item1" style="font-size: 4vw">鬱P [Utsu-P]</h1>
            <h1 class="item1" style="font-size: 2.5vw">VOCALOID 
                <span th:text="${product_id}" th:remove="tag"></span>th ALBUM
            </h1>
            <h1 class="item1" th:text="${product_name}" id="subheader"></h1>
            <h1 class="item2" style="font-size: 4vw">--Track List--</h1>
            <div th:each="track : ${track_list}" th:text="${track}" class="contains"></div>
        </div>
    </div>

<footer id="footer"></footer>

</body>

<script type="text/javascript" src="/js/navigation.js"></script>
<script type="text/javascript" src="/js/Components/header.js"></script>
<script type="text/javascript" src="/js/Components/footer.js"></script>
<script type="text/javascript" src="/js/Components/navigation-component.js"></script>
<script type="text/javascript" src="/js/buy.js"></script>
</html>