.album-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.5vw;
  padding: 0.5vw;
  background: black;
  width: 63vw;
/*  height: 30vw;*/
  float: right;
  font-size: 1vw;
}

.item1 {
  text-align: center;
  grid-column: 1 / 3;
}

.item2 {
  text-align: center;
  grid-column: 1 / 3;
}