.glitch-button{
  display: block;
  text-align: center;
  width: 18vw;
  height: 5.5vw;
  font-size: 2vw;
  font-family: 'Old English Text MT';
  background: #111;
  border: 0;
  color: #fff;
  letter-spacing: 0.1vw;
  line-height: 6vw;
  box-shadow: 6px 0px 0px #6F18D3;
  outline: transparent;
  position: relative;
}