html, body {
	height: 100%;
	width: 100%;
}

/*
	This style.css contains styles that are same for every page, 
	but are not referred to a certain component
*/
.fav-color{
	color: #6F18D3;
}

.error{
	width: 100%;
	height: auto;

	font-size: 2vw;
	color: white;
}

.main-content-container{
	width: 100%;
	height: auto;

	font-size: 1vw;

	border-top: 5px solid white;

	padding-left:5%; 
	padding-top:10%;
}

.main-content-container h1{
	font-size: 2vw;

	text-align:center;
}

.white-line{
	border-top: 3px solid white;
	width: 95%;
}

.footer{
	width: 100%;
	height: auto;

	background:#1A1A1A;
	border-top: 3px solid white;

	margin-top: 10%;
	padding-top: 2%;
	padding-bottom:2%;

	font-size: 1vw;
}

/*
	Will be used to put in background text of the controller
	responsible for the page returned, making sure that
	text will not be selectable.
*/
.unselectable {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/*style="background-image: url('https://i.ytimg.com/vi/siQxhzOksWU/maxresdefault.jpg');background-repeat: no-repeat;background-position: center;"*/