<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utsu-P-Wiki Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only libs. JS at the end of the page -->

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/full-glitch-effect-text.css">
	<link rel="stylesheet" href="/css/horizontal-glitch-effect-text.css">

    <link rel="icon" type="image/x-icon" href="/Post-Traumatic-Stress-Disorder.jpg">

</head>
<body>

	<div class="navigation">

		<!-- To know who the the user is -->
		<h2>You are:
			<span th:text="*{currentUser}" id="currentUser"></span>
		</h2>

		<h2>You are at:
			<span id="locationsContainer">
				<span th:each="locations : ${location}" th:text="${locations}" onclick="navigate(this)"></span>
			</span>	
		</h2>
	</div>

	<!-- Principal Header, same for all pages -->
	<header class="fav-color hero-container">
		<h1 class="hero glitch layers" data-text="鬱P Wiki" id="Utsu-P">鬱P Wiki</h1>
	</header>
	
	<header class="header-options-text header-grid-container">
		<h2 class="header-grid-item" onclick="navigate(this)">Authors</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Community</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Create</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Buy</h2>
	</header>
	<!-- Here the main content of the page starts -->

	<div class="main-content-container">
	</div>

	<footer class="footer">
		<div style="padding-left:5%;">
			<h2>Created By:
				<span class="fav-color" style="font-family: 'Old English Text MT">Akasaka Ryuunosuke</span>
				<p>GitHub:
					<a href="https://github.com/AkasakaRyuunoske">https://github.com/AkasakaRyuunoske</a>
				</p>
			</h2>

			<br>

			<h2>Special thanks to: 鬱P / Utsu-P</h2>

			<br>

			<h3>His Socials:
				<p>Youtube: 
					<a href="https://www.youtube.com/c/utsupofficial/">https://www.youtube.com/c/utsupofficial/</a>
				</p>

				<p>Official Site:
					<a href="https://msis.jimdofree.com/">https://msis.jimdofree.com/</a>
				</p>

				<p>Apple Music:
					<a href="https://music.apple.com/jp/artist/鬱p/383043845">https://music.apple.com/jp/artist/鬱p/383043845</a>
				</p> 

				<p>Twitter:
					<a href="https://twitter.com/asshole_wii">https://twitter.com/asshole_wii</a>
				</p>

				<p>Spotify:
					<a href="https://open.spotify.com/artist/3Zo5u5IljPxQEfbNY2OgsX?si=KcSszKJqQb6JpRnRiCxKaA&nd=1">https://open.spotify.com/artist/3Zo5u5IljPxQEfbNY2OgsX?si=KcSszKJqQb6JpRnRiCxKaA&nd=1</a>
				</p>

				<p>NicoNico:
					<a href="https://www.nicovideo.jp/user/176618/mylist/6385075">https://www.nicovideo.jp/user/176618/mylist/6385075</a>
				</p> 

				<p>Instagram:
					<a href="https://www.instagram.com/asshole_wii/">https://www.instagram.com/asshole_wii/user/176618/mylist/6385075</a>
				</p>

				<p>linktr:
					<a href="https://linktr.ee/asshole_wii">linktr.ee/asshole_wii</a>
				</p>
			</h3>
		</div>
	</footer>
</body>

<script type="text/javascript" src="/js/navigation.js"></script>
</html>