<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utsu-P-Wiki Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only libs. JS at the end of the page -->

	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/products.css">
	<link rel="stylesheet" href="css/full-glitch-effect-text.css">
	<link rel="stylesheet" href="css/horizontal-glitch-effect-text.css">

    <link rel="icon" type="image/x-icon" href="/Post-Traumatic-Stress-Disorder.jpg">

    <!-- JQuery for AJAX calls only-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script> 

</head>
<body>

	<div class="navigation">

		<!-- To know who the the user is -->
		<h2>You ares:
        <span id="currentUser">Anonymous</span>
		</h2>

		<!-- To know where the user is -->
		<h2>You are at:
			<span id="locationsContainer">
				<span th:each="locations : ${location}" th:text="${locations}" onclick="navigate(this)"></span>
			</span>	
		</h2>
	</div>

	<!-- Principal Header, same for all pages -->
	<header id="headers"></header>
	<!-- Here the main content of the page starts -->

	<div class="main-content-container" style="width: 99%">
			<h1>Products</h1>
<!-- 			<li th:each="products : ${productsList}"> -->
				<div th:each="products : ${productsList}" class="products-container">
					<span th:text="${products.productName}"></span>
					<div th:style="'background: 
				 url(' + ${products.productImage} + ') no-repeat center center;
				 background-size: cover;'"></div>
				</div>
<!-- 			</li> -->
	</div>

<!--
utsu-p's products generator 

	<div class="stack header-options-text" style="--stacks: 3;" th:each="products : ${productsList}">
		<span style="--index: 0;" th:text="${products.productName}"></span>
		<span style="--index: 1;" th:text="${products.productName}"></span>
		<span style="--index: 2;" th:text="${products.productName}"></span>
	</div>

-->
<footer id="footer"></footer>
</body>
<script type="text/javascript" src="/js/navigation.js"></script>
<script type="text/javascript" src="/js/Components/header.js"></script>
<script type="text/javascript" src="/js/Components/footer.js"></script>
</html>