<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Owari kakeeeee no kono sekai de</title>
	</head>

<body>
	<h1 th:text="*{message}"></h1>
	<div>Story of hoooope</div>
	<div>Sanman de fauntei na kono sekai</div>
	<div>Hakumei no ho okoshite yo</div>
	<br>
	<div>"AI" ga seikai ni nareeee</div>
	<br>
	<div>Fuante nantei kankan ni kiechate</div>
	<div>Hakumei no hi terasu sono mukou heee</div>
	<br>
	<div>Kiroku mo kioku mo nai hito, maishou</div>
	<div>Kibuo mo mirai mo nai kuni, gaishou</div>
	<br>
	<div>Nagai yoru wo oe asayake wo mita</div>
	<div>Akaku somaru senaka woooooooo</div>
	<br>
	<div>NEE ANATA WA ITSUKA INAKU NARI MASU KA?</div>
	<div>OWARI KAKE NO KONO SEKAI DE</div>
	<div>YAOKE MAE NO UREI TAEGATAI KODOKU</div>
	<div>AWAI OMOI TO SEKIBAKU WO DAITAAAA</div>
	<br>
	<div>Senmen na dangan no kioku</div>
	<div>Dare mo ga hi yotte wa</div>
	<br>
	<div>DAIIIPO GA DE NAI</div>
	<br>
	<div>Anzen wa kankan ni kiechate</div>
	<div>Akukeyou oyoboshita, boku no kokoro heeee</div>
	<br>
	<div>Nagai ame ga yami atsui hizashi ga</div>
	<div>terasu ookina senaka toooooo</div>
	<br>
	<div>NEE ANATA WA ITSUMO YUME WO MITE MASU KA?</div>
	<div>OWARI KAKE NO KONO SEKAI DE</div>
	<div>FUSAGA RE TA MICCHI WO HIRAKU MONO NI NARU</div>
	<div>"MESSEJI" WO IDA ITA TSURAI YOOOO</div>
</body>