<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utsu-P-Wiki Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only libs. JS at the end of the page -->

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/full-glitch-effect-text.css">
	<link rel="stylesheet" href="/css/horizontal-glitch-effect-text.css">

    <link rel="icon" type="image/x-icon" href="/Post-Traumatic-Stress-Disorder.jpg">

</head>
<body>

	<div class="navigation">

		<!-- To know who the the user is -->
		<h2>You are:
			<span th:text="*{currentUser}" id="currentUser"></span>
		</h2>

		<h2>You are at:
			<span id="locationsContainer">
				<span th:each="locations : ${location}" th:text="${locations}" onclick="navigate(this)"></span>
			</span>	
		</h2>
	</div>

	<!-- Principal Header, same for all pages -->
	<header class="fav-color hero-container">
		<h1 class="hero glitch layers" data-text="鬱P Wiki" id="Utsu-P">鬱P Wiki</h1>
	</header>
	<div class="header-options-text header-grid-container">
		<h2 class="header-grid-item" onclick="navigate(this)">Authors</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Community</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Create</h2>
		<h2 class="header-grid-item" onclick="navigate(this)">Buy</h2>
	</div>
	<!-- Here the main content of the page starts -->

	<div class="main-content-container">
		<h1>Utsu-P - The Dying Message</h1>
		<span>Sanman de fuantei na kono sekai       </span>
		<p>kakumei ho okoshite yo 					</p> 

		<br>

		<h2>"AI" ga seikai ni nareeee				</h2>
		
		<br>

		<p>fuante nantei kankan ni kiechate 		</p>
		<p>hakumei no hi terasu sono mukou hee  	</p>
		
		<br>

		<p>kiroku mo kioku mo nai hito, maishou 	</p>
		<p>kibuo mo mirai mo nai kuni, gaishou  	</p>
		
		<br>

		<p>nagai yoru wo oe asayake wo mita			</p>
		<p>akaku somaru senaka tooooooo				</p>
		
		<br>

		<h2>NEE ANATA WA ITSUKA INAKU NARI MASU KA? </h2>
		<h2>OWARI KAKE NO KONO SEKAI DE 			</h2>
		<h2>YAOKE MAE NO UREI TAEGATAI KODOKU		</h2>
		<h2>AWAI OMOI TO SEKIBAKU WO DAITA 			</h2>
		
		<br>

		<p>senmen na dangan no kioku ni 		    </p>
		<p>dare mo ga hi yotte wa 					</p>
		
		<br>

		<h2>daiiipo ga de nai 						</h2>
		
		<br>

		<p>	anzen wa kankan ni kiechate 			</p>
		<p>	akukeyou oyoboshita boku no kokoro he   </p>
		
		<br>

		<p>	nagai ame ga yami atsui hizashi ga 		</p>
		<p>	terasu ookina senaka wooooo 			</p>
		
		<br>

		<h2>	NEE ANATA WA ITSUMO YUME WO MITE MASU KA?	</h2>
		<h2>	OWARI KAKE NO KONO SEKAI DE 				</h2>
		<h2>	FUSAGA RE TA MICCHI WO HIRAKU MONO NI NARU  </h2>
		<h2>	"MESSEJI" WO IDA ITA TSURAI YOOOO			</h2>
		
		<br>

		<p>	mujou ni mo toki ga kitte kanata he tabidata	</p>
		<p>	kankan na kanjou kamae kudake chiiru tame ni 	</p>
		<p>	yuukan na anata wa sora wo kirisaita			</p>
		<p>	seikan na hyoujou gamae kaze ni nattaaaaa		</p>
		
		<br>

		<h2>	DOOOOOUUKOOOOOOOOOOOKUUUUUUU KAKUSHITE		</h2>
		
		<br>

		<h2>	SEKIBAAAAAAAKUUUUUUU KAKUSHITE				</h2>
		
		<br>

		<p>	ikiru koto sae nozome nai nara					</p>
		<p>	tada sekai wo kanjite iki wo haku 				</p>
		
		<br>

		<p>	nagai yoru wo oe senaka nado nai 				</p>
		<p>	soko ni aru no wa tadaaaa hiroiiiiiiii buruuuuuuu</p>
		
		<br>

		<h2>	NEE ANATA WA ITSUMO GENKI WO KURE MASU KA?	</h2>
		<h2>	OWARI KAKE NO KONO SEKAI DE 				</h2>
		<h2>	KURAGARI DE KAWASHITA CHIISANA YAKUSOKU GA 	</h2>
		<h2>	WATASHI NOO IKIRUUUUU KATE SAAA 			</h2>
		
		<br>

		<p>	nee watashi wa nido to kurai kao shinai yo 		</p>
		<p>	saegiru kage mono mienu kara 					</p>
		<p>	akarui hizashi wo zonbuni abinagara 			</p>
		<p>	"Muika" no taoru tare ta wo daitaaaa 			</p>

		<br>	

		<iframe width="80%" height="765" src="https://www.youtube.com/embed/XVIsijUM_NE" title="Utsu-P - THE DYING MESSAGE [PxTxSxD Ver.]" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

	<footer class="footer">
		<div style="padding-left:5%;">
			<h2>Created By:
				<span class="fav-color" style="font-family: 'Old English Text MT">Akasaka Ryuunosuke</span>
				<p>GitHub:
					<a href="https://github.com/AkasakaRyuunoske">https://github.com/AkasakaRyuunoske</a>
				</p>
			</h2>

			<br>

			<h2>Special thanks to: 鬱P / Utsu-P</h2>

			<br>

			<h3>His Socials:
				<p>Youtube: 
					<a href="https://www.youtube.com/c/utsupofficial/">https://www.youtube.com/c/utsupofficial/</a>
				</p>

				<p>Official Site:
					<a href="https://msis.jimdofree.com/">https://msis.jimdofree.com/</a>
				</p>

				<p>Apple Music:
					<a href="https://music.apple.com/jp/artist/鬱p/383043845">https://music.apple.com/jp/artist/鬱p/383043845</a>
				</p> 

				<p>Twitter:
					<a href="https://twitter.com/asshole_wii">https://twitter.com/asshole_wii</a>
				</p>

				<p>Spotify:
					<a href="https://open.spotify.com/artist/3Zo5u5IljPxQEfbNY2OgsX?si=KcSszKJqQb6JpRnRiCxKaA&nd=1">https://open.spotify.com/artist/3Zo5u5IljPxQEfbNY2OgsX?si=KcSszKJqQb6JpRnRiCxKaA&nd=1</a>
				</p>

				<p>NicoNico:
					<a href="https://www.nicovideo.jp/user/176618/mylist/6385075">https://www.nicovideo.jp/user/176618/mylist/6385075</a>
				</p> 

				<p>Instagram:
					<a href="https://www.instagram.com/asshole_wii/">https://www.instagram.com/asshole_wii/user/176618/mylist/6385075</a>
				</p>

				<p>linktr:
					<a href="linktr.ee/asshole_wii">linktr.ee/asshole_wii</a>
				</p>
			</h3>
		</div>
	</footer>
</body>

<script type="text/javascript" src="/js/navigation.js"></script>
</html>