<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Utsu-P-Wiki Home Page</title>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS only libs. JS at the end of the page -->

	<script type="text/javascript" src="/js/load-css.js"></script>

    <link rel="icon" type="image/x-icon" href="/Post-Traumatic-Stress-Disorder.jpg">

</head>
<body>

	<div class="navigation">

		<!-- To know who the the user is -->
		<h2>You are:
			<span th:if="*{currentUser}" th:text="*{currentUser}" id="currentUser"></span>
			<span th:unless="*{currentUser}" id="currentUser">Anonymous</span>
		</h2>

		<h2>You are at:
			<span id="locationsContainer">
				<span th:each="locations : ${location}" th:text="${locations}" onclick="navigate(this)"></span>
			</span>	
		</h2>
	</div>

	<!-- Principal Header, same for all pages -->
	<header id="headers"></header>
	<!-- Here the main content of the page starts -->

	<div class="main-content-container">
		<h1>In order to do high-impact stuff u must log-in.</h1>
		<form method = "post" th:action = "@{/registration}" th:object = " ${client}">
			<label for="userName">User Name: </label>
			<input type="text" name="userName" th:field = "${client.userName}" id="userName">

			<br>

			<label for="password">Password: </label>
			<input type="password" name="password" th:field = "${client.password}" id="password">

			<br>

			<label for="email">Email: </label>
			<input type="text" name="email" th:field = "${client.email}" id="email">

			<br>

			<button type="submit">Register</button>
		</form>
	</div>

<footer id="footer"></footer>
</body>
<script type="text/javascript" src="/js/navigation.js"></script>
<script type="text/javascript" src="/js/Components/header.js"></script>
<script type="text/javascript" src="/js/Components/footer.js"></script>
</html>